<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ftfnunes.booknet">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".telaLogin" />
        <activity android:name=".telaAnuncio" />
        <activity android:name=".SelecaoBusca" />
        <activity android:name=".telaInicio" />
        <activity
            android:name=".TelaBusca"
            android:label="@string/title_activity_tela_busca"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".TelaAtividades"
            android:label="@string/title_activity_tela_atividades"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".TelaRegistro"
            android:label="@string/title_activity_tela_registro"
            android:theme="@style/AppTheme" />
        <activity android:name=".TelaFiltro" />
        <activity
            android:name=".AprovacaoDeSolicitacao"
            android:label="@string/title_activity_aprovacao_de_solicitacao"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".LivroEmprestado"
            android:label="@string/title_activity_livro_emprestado"
            android:theme="@style/AppTheme"></activity>
    </application>

</manifest>